@font-face{
    font-family: "font" ;
src: url('fonts/Strawberry.ttf');
}
body { font-size: 28px;
    font-weight: 500;
    font-family: "font" ;
    
}

#first { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgba(0,160,144,0.7);
text-transform: uppercase;
text-decoration: underline;

}
p>q { font-family: serif;
font-style: oblique;
font-size: 1.5em;
background-color: rgba(255,255,255,0.3)
}
#second { text-indent: 20%; 
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
font-style: oblique;


}
span { font-weight: 800;
font-style: italic;}
#second  {background-color: turquoise;
    text-transform: lowercase;
    text-decoration: line-through;

}
#third { font-family: Courier New, Courier, monospace;
    background-color: rgba(064,224,208,0.7)
}

h1{text-shadow: 17px 10px 8px rgba(150, 150, 150, 0.81);
    font-size: 3em;
}
ul,a { font-family: century, arial, sans-serif;
    text-shadow: 17px 10px 8px rgba(141, 36, 36, 0.81);
    
}
#first::first-letter {
    font-size: 3em;
    text-decoration: clear;
}
p:nth-child(3) {
    font-size: 46px;
}
q:nth-child(3) {
    font-size: 10px;
}

a:link {color: red;
}
a:visited {color: black;}
a:hover {color:green;}
a:active {color:blue;}

.col td:nth-of-type(odd) {
    background-color: turquoise;
}
.col td:nth-of-type(even) {
    background-color: darkturquoise;
}

.row tr:nth-of-type(odd) {
    background-color: blueviolet;
}

.row tr:nth-of-type(even) {
    background-color: brown;
}
tr:first-child td:first-child, tr:last-child td:first-child {
    background-color: aquamarine;
}
tr:first-child td:last-child, tr:last-child td:last-child {
    background-color: aquamarine;
}
tr:nth-child(2) td:nth-child(2), tr:nth-child(2) td:nth-child(4) {
    background-color: aquamarine;
}
tr:nth-child(4) td:nth-child(2), tr:nth-child(4) td:nth-child(4), tr:nth-child(3) td:nth-child(3) {
    background-color: aquamarine;
}
/* tr:nth-child(3) td:nth-child(3) {
    background-color: aquamarine;
} */
/* div {
    float: left;
} */
/* p {
    text-align: justify;
    }    */

/* img {
    vertical-align: middle;
} */