body {
    background-color: lightgray;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    width:960px;
    margin:0 auto;
}
.message_board {
    background-color: white;
    min-height:500px;
    max-height:500px;
    margin-bottom:20px;
    overflow-y: scroll;
    overflow-x: visible;
    padding:15px;
    box-sizing: border-box;

}
p{
    background-color: rgb(241, 168, 168);
    padding:5px 10px;
    margin:7px 10px;
    border-radius:5px;
    float:left;
    clear:left;
    color:white;
    max-width: 95%;
    overflow-wrap: break-word;

}
#send {
    background-color: rgb(240, 89, 89);
    border:none;
    border-radius: 5px;
    color:white;
    padding:6px 15px;
    width:19%;
    box-sizing: border-box;
    margin:0;
    float:right;
}
input:first-of-type {
    width:80%;
    box-sizing: border-box;
    padding:5px;
    margin:0;
}