body {
    padding: 0 10%;
}
#field {
    background-image: url(field.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    min-height:50vw;
    margin:0 auto;
}

img {
    height:100px;
    position:absolute;

}

#stop {
    float:right;
    padding: 5px 15px;
    background-color: darkred;
    border-radius: 5px;
    border:none;
    color:white;
}
