div {
    background-image: url(field.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width:80%;
    min-height:50vw;
    position:relative;
    margin:0 auto;
}

img {
    height:100px;
    position:absolute;

}

#stop {
    position:absolute;
    bottom:10px;
    right:10px;
}
