*{
    margin:0;
    padding:0;
}

body {font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin:8px;
}
.main{
    width: 960px;
    margin:auto;
    position:relative;
}

div.header {
    background-color: brown;
    width: 100%;
    /* height: 40px; */
    overflow:hidden;
    vertical-align: middle;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-bottom: 2px;
    color: whitesmoke;

}
.nav>li {
    display:inline;
    float: right;
    padding:0 10px;
    
}

a, a:link {
    text-decoration: none;
    color: whitesmoke;
}
ul{
    padding: 0;
    margin:0;
}
img {
    box-sizing: border-box;
}
#float_right>li>a, #float_right>li{
    color: black;
    margin: 10px 0;
}
#float_right{
    float:right;
    list-style: none;
}
.side {
    background-color: orange;
    width: 270px;
    margin:0 0 0 auto;
    box-sizing: border-box;
    padding:15px;
    position:absolute;
    right:0;
}
hr{
    border-bottom:0;
    border-top: 1px rgb(99, 99, 99) solid;
}

div>div>div{
    float:left;
    width:300px;
}
.pic {
    width:300px;
    height:200px;
    font-size:40px;
    color:rgba(247, 241, 241,0.5);
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
}
div>div>div:nth-child(4n)>div{
    background-color: darkred;
}
div>div>div:nth-child(4n+1)>div{
    background-color: rgb(118, 139, 0);
}
div>div>div:nth-child(4n+2)>div{
    background-color: rgb(65, 0, 139);
}
div>div>div:nth-child(4n+3)>div{
    background-color: rgb(255, 217, 0);
}
span {
    display:block;
}
.clear {
    clear: left;
}
.middle{
    margin:0 20px;
}
.container{
    padding:0 10px;
    overflow:hidden;
}
.footer{
    background-color: rgb(65,0,139);
    margin:20px auto 10px auto;
    padding:10px;
    color: whitesmoke;
    padding-left: 470px;
    box-sizing: border-box;
}