.list_circle {
    list-style-type: circle;
}
.list_square {
    list-style-type: square;
}
.list_upper_alpha {
    list-style-type: upper-alpha;
}
.list_roman {
    list-style-type: upper-roman;
}

.image_marker {
    width: 200px;
    list-style-image: url("http://www.newtongrangestar.org/Images/star.png");
    display: inline-block;
    vertical-align: top;
}

.inside {
    list-style-position: inside;
}
#hidden {
    display: none;
}
#invisible {
    visibility: hidden;
}